.top {
    background-color: transparent;
    border: 0;
    position: relative;
    width: 1024px;
    margin: 0 auto;
}

.nav {
    /*background-color: black;*/
    position: absolute;
    right: 0px;
    top: 40px;
}


a {
    box-shadow: 3px 7px 2px 0px #51404094;
    background: linear-gradient(to bottom, #4472c4 5%, #3962aa 100%);
    background-color: #77d42a;
    /* border-radius: 6px; */
    /* border: 1px solid #268a16; */
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 19px;
    font-weight: bold;
    padding: 8px 26px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
	
}

a:hover {
    background: linear-gradient(to bottom, #4472c4 5%, #4472c4 100%);
    background-color: #5cb811;
}

#active {
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color: black !important;
}
.item{
	margin-left:10px;
}
.logo {
    background-color: white;
    height: 134px;
    top: 350px;
    width: 134px;
    position: absolute;
    left: 40px;
    z-index: 1;
}

.title {
    top: 15px;
    left: 15px;
    position: absolute;
    /* text-align: center; */
    color: #000;
    font-size: 44px;
    font-family: 'Comic Sans', cursive;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */

}

figure {
    width: 1024px;
    height: 270px;
    background-color: transparent;
    overflow: hidden;
}

.background {
    margin-top: 60px;
    position: absolute;
    overflow: hidden;
    width: 1024px;
    height: 270px;
    background-size: cover;
    background-image: url("../img/backdrop.jpg");
    background-repeat: no-repeat;
    left: 0px;

}

.main {
    margin: 0 auto;
    border: 0;
    width: 1024px;
    height: 400px;
}

.h2-title {
    background-color: #333333;
    /* optional */
    width: 1024px;
    height: 43px;
    position: absolute;
    text-align: center;

    font-family: cursive;
    font-size: 24px;
    color: #ffffff;
    line-height: 47px;
    margin-top: 4px;
}

.home-article {
    width:1024px;
    position: absolute;
    margin-top: 90px;
	margin-left:200px;
    /* text-align: left; */
}
.home-article h3 {
    font-family: cursive;
    font-size: 20px;
    color: #000000;
    line-height: 35px;
    font-weight: bold;

}
.home-article p{

    font-family: cursive;
    font-weight:normal;
	width:800px;


}
footer {
    position: relative;
    height: 40px;
    width: 1024px;
    margin: 0 auto;
    background-color: #333333;

}

p.bottom {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    font-size: 12px;
    color: #ffffff;
    bottom: 10px;
}